.button {
  margin: 10px;
  padding: 10px 20px;

  font-size: 20px;
  text-transform: uppercase;
  background-color: blueviolet;
  color: yellow;
  border-radius: 5px;
  border: 2px solid blueviolet;


  transition: 300ms;
}

.button:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 204, 204, 1) 0%,
    rgba(255, 226, 204, 1) 10%,
    rgba(230, 237, 204, 1) 20%,
    rgba(204, 235, 204, 1) 30%,
    rgba(204, 235, 230, 1) 40%,
    rgba(204, 230, 235, 1) 50%,
    rgba(204, 214, 235, 1) 60%,
    rgba(219, 204, 235, 1) 70%,
    rgba(235, 204, 230, 1) 80%,
    rgba(235, 204, 214, 1) 90%,
    rgba(255, 204, 204, 1) 100%
  );
  color: purple;
  box-shadow: 0 0 5px teal;
  cursor: pointer;
  border: 2px solid violet;
  border-radius: 5px;
}
